@page "/dashboard"
@using AllowanceTracker.Components
@using AllowanceTracker.DTOs
@using AllowanceTracker.Services
@inject IFamilyService FamilyService

<PageTitle>Dashboard</PageTitle>

<h1>Family Dashboard</h1>

@if (Loading)
{
    <p><em>Loading...</em></p>
}
else if (Children.Any())
{
    <div class="row">
        @foreach (var child in Children)
        {
            <div class="col-md-4 mb-3">
                <ChildCard Child="@child" OnTransactionAdded="@RefreshData" />
            </div>
        }
    </div>
}
else
{
    <p>No children found. Add a child to get started.</p>
}

@code {
    private bool Loading = true;
    private List<ChildDto> Children = new();

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        Loading = true;
        Children = await FamilyService.GetChildrenAsync();
        Loading = false;
    }
}
